<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CIMS.Properties.Settings.ChurchDBConnectionString"
            connectionString= "Data Source=DESKTOP-J6DG21E\MYSQLSERVER;Initial Catalog=ChurchDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>